@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand-primary: #10B981;
}

body {
  margin: 0;
  font-family: var(--font-inter), system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
  color: #0f172a;
}
